# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.env/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env
.env.*

# Log files
*.log

# Local settings
*.local

# Linting tools
.mypy_cache/
.dmypy.json
.pyre/
.pylint.d/

# Temporary files
*.swp
*.swo
*.tmp
*.bak
*.orig

# Debugger
.debug/

# PlantUML output
out/

# SQLite database
study_agent_info.db